body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}
header {
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-bottom:10px;
}

header p {
    font-size: 18px;
}

main {
    max-width: 900px;
    margin: 40px auto;
}

.stats {
    display: flex;
    gap: 20px;
}

.stat-card {
    flex: 1;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
}